node_modules
.env
.env.production
dist
build
.cache
.vscode
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
*.suo
*.ntvs*
*.njsproj      
docker-compose.yml
DockerFile
.dockerignore
*.log