node_modules
DockerFile
docker-compose.yml
.env
.env.production
dist
build
.cache
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
*.suo
*.ntvs*
*.njsproj      
*.log
client/dist
server/src/public
.DS_Store